<div class="panel panel-primary">
  <div class="panel-heading">
    <h2><%= @event.name %></h2>
    <h4><%= @event.description %></h4>

  </div>

  <div class="panel-body">
    <div class="col-md-10">
    <label>Number of guests <br>
    <%=  %>
    <br>
    <%= link_to "Register", events_path, class: "btn btn-default" %>
    <hr>
    <label>Location:</label> <%= @event.location %>
    <br>
    <label>Starts at: <%= @event.starts_at %></label>
    <br>
    <label>Ends at: <%= @event.ends_at %></label>
    <br>
    <label>Price: €</label> <%= @event.price %>
    <br>
    <label>Capacity:</label> <%= @event.capacity %>
    <br>
    <label>Food included:</label> <%= @event.includes_food %>
    <br>
    <label>Drinks included:</label> <%= @event.includes_drinks %>
    <br>
    <label>Status:</label> <%= @event.active %>
    <br>
    <h4>Categories</h4>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>
    <br>
    <hr>
    <%= link_to "Back", events_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
